/*Custom Style Overrides*/

.logo-light,
.logo-dark {
    height: 64px;
}

#intro .section-heading .section-title, #about .section-heading .section-title {
    text-transform: capitalize;
}

#intro .section-heading .wordmark-light {
    max-width: 30em;
    width: 100%;
    margin: auto;
    padding-left: 2em;
}

/*
    GitHub Fork Ribbon
    https://simonwhitaker.github.io/github-fork-ribbon-css/
*/
.github-fork-ribbon {
    z-index: 9998; /* Allow the preloader at 9999 to be on top */
}

.github-fork-ribbon::before {
    background-color: white;
}

.github-fork-ribbon::after {
    color: black;
}
