/*Custom Style Overrides*/

.logo-light,
.logo-dark {
    height: 64px;
}

#intro .section-heading .section-title, #about .section-heading .section-title {
    text-transform: capitalize;
}

#intro .section-heading .wordmark-light {
    max-width: 30em;
    width: 100%;
    margin: auto;
    padding-left: 2em;
}
